.idea/
src/__pycache__
src/yolov7.pt
src/yolov7/traced_model.pt
src/traced_model.pt
src/Feature Map 73_screenshot_31.07.2023.png
src/Dataset-20230803T150743Z-001.zip
src/Dataset/
src/LA-Transformer Testing.html
src/LA-Transformer Testing.ipynb
src/LA-Transformer Training.html
src/LA-Transformer Training.ipynb
src/LATransformer/__pycache__/
src/LICENSE
src/Readme.md
src/Weights-20230803T150538Z-001.zip
src/Weights-20230803T150538Z-001/
.catkin_workspace
build/
devel/
images/
.catkin_tools/
logs/
src/venv/
src/auto_calibration_tools/calibration_data/one_shot_object_detector.pth
src/ricoh_theta_z1
src/auto_calibration_tools/scripts/calibration_data
RUR/
src/auto_calibration_tools/scripts/calibration_data_intrinsics/back
src/auto_calibration_tools/scripts/calibration_data_intrinsics/bottom
src/auto_calibration_tools/scripts/calibration_data_intrinsics/front
src/auto_calibration_tools/scripts/calibration_data_intrinsics/images
src/auto_calibration_tools/scripts/calibration_data_intrinsics/left
src/auto_calibration_tools/scripts/calibration_data_intrinsics/one_shot_object_detector.pth
src/auto_calibration_tools/scripts/calibration_data_intrinsics/__pycache__
src/auto_calibration_tools/scripts/calibration_data_intrinsics/right
src/auto_calibration_tools/scripts/calibration_data_intrinsics/top
src/one_shot_object_detector.pth
src/__pycache__/*
src/util/__pycache__/
src/auto_calibration_tools/scripts/__pycache__/
src/auto_calibration_tools/scripts/camera_laser_calibration/back
src/auto_calibration_tools/scripts/camera_laser_calibration/bottom
src/auto_calibration_tools/scripts/camera_laser_calibration/front
src/auto_calibration_tools/scripts/camera_laser_calibration/images
src/auto_calibration_tools/scripts/camera_laser_calibration/left
src/auto_calibration_tools/scripts/camera_laser_calibration/one_shot_object_detector.pth
src/auto_calibration_tools/scripts/camera_laser_calibration/one_shot_object_detector_5x3.pth
src/auto_calibration_tools/scripts/camera_laser_calibration/one_shot_object_detector_5x3_SIDES.pth
src/auto_calibration_tools/scripts/camera_laser_calibration/one_shot_object_detector_SIDE.pth
src/auto_calibration_tools/scripts/camera_laser_calibration/__pycache__
src/auto_calibration_tools/scripts/camera_laser_calibration/right
src/auto_calibration_tools/scripts/camera_laser_calibration/top
*.pth
src/util/temporary.py
src/auto_calibration_tools/scripts/camera_laser_calibration/images_outdoor-test/
src/auto_calibration_tools/scripts/camera_laser_calibration/images_outdoor/
src/auto_calibration_tools/scripts/camera_laser_calibration/cameraLaser_points_100.pkl
src/auto_calibration_tools/scripts/camera_laser_calibration/cameraLaser_points_backup.pkl
src/auto_calibration_tools/scripts/camera_laser_calibration/images_UHD/
src/auto_calibration_tools/scripts/camera_laser_calibration/images_outdoor-test200/
src/auto_calibration_tools/scripts/camera_laser_calibration/images_prova/
src/auto_calibration_tools/scripts/calibration_data_intrinsics/backgrounds_UHD/
src/auto_calibration_tools/scripts/calibration_data_intrinsics/images_FHD/
src/auto_calibration_tools/scripts/calibration_data_intrinsics/images_UHD/
src/auto_calibration_tools/scripts/calibration_data_intrinsics/images_UHD2/
src/auto_calibration_tools/scripts/calibration_data_intrinsics/intrinsicsUHD.pkl



