.idea/
src/__pycache__
src/yolov7.pt
src/yolov7/traced_model.pt
src/traced_model.pt
src/Feature Map 73_screenshot_31.07.2023.png
src/Dataset-20230803T150743Z-001.zip
src/Dataset/
src/LA-Transformer Testing.html
src/LA-Transformer Testing.ipynb
src/LA-Transformer Training.html
src/LA-Transformer Training.ipynb
src/LATransformer/__pycache__/
src/LICENSE
src/Readme.md
src/Weights-20230803T150538Z-001.zip
src/Weights-20230803T150538Z-001/

